/* After Visual Changes, Make DOM traversal more efficient. */
* {
  margin: 0;
  padding: 0;
}

button {
  width: 75px;
  height: 75px;
}

.rowContainer {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.clear,
.delete {
  width: 155px;
}
